#Tittle{
    display: flex;
    h2{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #e54847;
        border-bottom: 1px solid #e54847;
        color:#fff;
        font-size: 18px;
        font-weight: 400;
    }
}