.swiper {
    img {
        width: 80vw;
        height: 60vw;
    }
    
    ul {
        li {
            h1 {
                color: red;
            }
        }
    
        li {
            h2 {
                color: yellow;
            }
        }
    
        li {
            h3 {
                color: skyblue;
            }
        }
    }
}

// https://www.jianshu.com/p/d3fbd9774931