.scrollable-container {
    height: 1000px;
    overflow-y: scroll;
  }
  .background {
    padding-top: 60px;
    height: 1000px;
    background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
  }